main{
    width: 1600px;
    height: 2000px;
    border: $border;
    
    .KattaSotuvlar{
        width: 93%;
        height: 100%;
        border: $border;
        margin-top: 50px;
        h1{
            font-size: 38px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            // background-color: #2196F3;
            row-gap: 30px;
            // padding: 10px;
          }
         
          .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            // border: 1px solid rgba(0, 0, 0, 0.8);
            // padding: 100px;
            width:280px;
            height: 550px;
            font-size: 30px;
            text-align: center;
            border-radius: 10px;
            
            img{
               width: 100%;
               height: 100%;
               border-radius: 10px;
               
            }
           
          }
    }
}